<script src="../bytearray.js" type="text/javascript"></script>
<script src="../aes.js" type="text/javascript"></script>
<script type="text/javascript">
	var msga = "Testing AES128 with OFB mode, in JavaScript. My C version of this uses slightly less memory than CTR.\n";
	var msgb = "Testing AES128 with CTR mode, in JavaScript. CTR does not propagate errors and supports random access.\n";

	var key = ByteArray.fromHex("12345612345612345612345612345612");
	var iv = ByteArray.fromHex("00000000000000000000000000000000");
	var encrypted;

	aes_key_init(key);
	document.write("key: " + new ByteArray(key).toString("hex") + "<br>");

	encrypted = aes_crypt_ofb(new ByteArray(msga), key, iv);
	document.write("encrypted: " + new ByteArray(encrypted).toString("hex") + "<br>");
	document.write("decrypted: " + new ByteArray(aes_crypt_ofb(encrypted, key, iv)).toString("string") + "<br>");
	document.write("ossl test: echo 0 " + new ByteArray(encrypted).toString("hex") + " | xxd -r -c 256 | openssl enc -aes-128-ofb -K \"12345612345612345612345612345612\" -iv \"00000000000000000000000000000000\" <br><br>");

	encrypted = aes_crypt_ctr(new ByteArray(msgb), key, iv);
	document.write("encrypted: " + new ByteArray(encrypted).toString("hex") + "<br>");
	document.write("decrypted: " + new ByteArray(aes_crypt_ctr(encrypted, key, iv)).toString("string") + "<br>");
	document.write("ossl test: echo 0 " + new ByteArray(encrypted).toString("hex") + " | xxd -r -c 256 | openssl enc -aes-128-ctr -K \"12345612345612345612345612345612\" -iv \"0000000000000000\" <br><br>");
</script>
